name: archetype
services:
  meilisearch:
    image: getmeili/meilisearch:latest
    environment:
      - MEILI_ENV=development
    # No MEILI_MASTER_KEY in development: requests without a key are allowed.
    volumes:
      - meilisearch_data:/meili_data
    ports:
      - "7700:7700"
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.28
    environment:
      - discovery.type=single-node
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    # ports:  when commented out, elasticsearch will not be accessible from the host
    #   - "9200:9200"
    #   - "9300:9300"
  postgres:
    image: postgres:17.2
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST=localhost
      - POSTGRES_PORT=5432
      - POSTGRES_DB=local
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
  pg-admin:
    image: dpage/pgadmin4:latest
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres
    volumes:
      - pgadmin-data:/var/lib/pgadmin
  # ftp:
  #   image: fauria/vsftpd
  #   restart: always
  #   environment:
  #     - FTP_USER=user
  #     - FTP_PASS=password
  #     - PASV_ADDRESS=127.0.0.1  # Change this if needed
  #     - PASV_MIN_PORT=21100
  #     - PASV_MAX_PORT=21110
  #   ports:
  #     - "21:21"
  #     - "21100-21110:21100-21110"
  #   volumes:
  #     - ./storage/media:/home/vsftpd/user
  api:
    image: ghcr.io/archetype-pal/backend:latest
    build: .
    environment:
      DJANGO_SETTINGS_MODULE: config.settings
      MEILISEARCH_URL: http://meilisearch:7700
    command: python manage.py runserver 0.0.0.0:80 --nostatic
    env_file: ${API_ENV_FILE:-config/.env}
    ports:
      - "8000:80"
    volumes:
      - .:/app
    depends_on:
      postgres:
        condition: service_started
      elasticsearch:
        condition: service_started
      meilisearch:
        condition: service_started
      redis:
        condition: service_healthy
  image_server:
    image: daschswiss/sipi
    ports:
      - 1024:1024
    volumes:
      - ./storage/media:/sipi/images
  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 30s
      retries: 50

  celery:
    image: ghcr.io/archetype-pal/backend:latest
    command: celery -A config worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - postgres
      - meilisearch
    env_file: ${API_ENV_FILE:-config/.env}
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
      - MEILISEARCH_URL=http://meilisearch:7700

volumes:
  postgres:
  elasticsearch_data:
  meilisearch_data:
  pgadmin-data:
